/* Leaderboard.css */
.glow {
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.5);
  }
  to {
    box-shadow: 0 0 20px rgba(255, 255, 0, 1);
  }
}

.heading-pattern {
  background: linear-gradient(90deg, #ff7f50, #ffbf00);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
